/* style.css  */

body {
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-family: sans-serif;
  padding: 10px;
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
  background-color: #000000;
  justify-content: center;
  align-items: center;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 250px;
}

#editor {
  flex: 1;
  font-family: monospace;
  resize: none;
  padding: 8px;
  box-sizing: border-box;
  font-size: 14px;
}

button {
  margin-top: 8px;
  padding: 8px;
  font-size: 14px;
  cursor: pointer;
}

#grid {
  display: grid;
  flex: 1;
  aspect-ratio: 7 / 4;
  border: 2px solid #363636;
  background-color: #000000;
  max-width: 350px;
  max-height: 200px;
}

.cell {
  border: 1px solid #555;
  position: relative;
  background-image: url('grid.png');
  background-size: cover; /* nebo contain podle potřeby */
  background-position: center;
  background-repeat: no-repeat;
}

#robot {
  width: 70%;
  height: 70%;
  background-image: url('KarelRobot.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 15%;
  left: 15%;
  transition: all 0.3s;
}

.beeper {
  width: 35%;
  height: 35%;
  background-color: blue;
  border-radius: 50%;
  position: absolute;
  bottom: 5%;
  right: 5%;
}
