/* style.css */

body {
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-family: sans-serif;
  padding: 10px;
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 250px;
}

#editor {
  flex: 1;
  font-family: monospace;
  resize: none;
  padding: 8px;
  box-sizing: border-box;
  font-size: 14px;
}

button {
  margin-top: 8px;
  padding: 8px;
  font-size: 14px;
  cursor: pointer;
}

#grid {
  display: grid;
  flex: 1;
  aspect-ratio: 1 / 1;
  border: 2px solid #363636;
  background-color: #1f1f1f;
  max-width: 300px;
  max-height: 200px;
}

.cell {
  border: 1px solid #aaa;
  position: relative;
}

#robot {
  width: 70%;
  height: 70%;
  background-color: red;
  position: absolute;
  top: 15%;
  left: 15%;
  transition: all 0.3s;
}

.beeper {
  width: 35%;
  height: 35%;
  background-color: blue;
  border-radius: 50%;
  position: absolute;
  bottom: 5%;
  right: 5%;
}
